<%- include('../partials/header') %>
    <h1>My Shelf</h1>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Author(s)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% books.forEach(b => { %>
                <tr>
                    <td><img src="<%= b.imageLinks %>"
                            width="100px" height="auto" alt="<%= b.title %>"></td>
                    <td><%= b.title %></td>
                    <td><%= b.author %></td>
                    <td><a href="/books/<%= b._id %>">See More</a></td>
                </tr>
            <% }); %> 
        </tbody>
    </table>
<%- include('../partials/footer') %> 