<%- include('../partials/header') %>

<h1>Edit this book</h1>
<div>
    Please note you can only change Recommendations and Shelf characteristics.
</div>
<div>
    <img 
        src="<%= book.imageLinks ? book.imageLinks : null %>"
        alt="<%= book.title %>"
        width="110" height="auto" /><br>
    <span>Title:</span> <%= book.title %><br> 
    <span>Author(s):</span> <%= book.author %><br> 
</div>
<form method="POST" action="/books/<%= book._id %>?_method=PUT">   
    <input type="hidden" name="googleId" value="<%= book.googleId %>" />
    <input type="hidden" name="title" value="<%= book.title %>" />
    <input type="hidden" name="author" value="<%= book.author %>" />
    <input type="hidden" name="imageLinks" value="<%= book.imageLinks %>" />
    <label>Recommended by:</label>
    <input type="text" name="recommend" /><br>
    <input class="button" type="submit" />
</form>
<br>
<a class="button" href="/books/all">Back</a>


<%- include('../partials/footer')  %> 