<%- include('../partials/header') %>

<h1>Welcome to KanShu, <%= user.name %>!</h1>

<section class="search-form">
    <form method="GET" action="/books">
        <label>Find a book by</label>
        <select class="form-select" aria-label="Default select example" name="keyword">
            <option selected value="intitle">title</option>
            <option value="inauthor">author</option>
            <option value="inpublisher">publisher</option>
            <option value="subject">category</option>
            <option value="isbn">isbn</option>
        </select><br>
        <div class="input-group input-group-lg">
            <input class="form-control" type="text" name="q" />
        </div>
        <div class="input-align">
            <input class="button" id="search-button" type="submit" value="Search Books" />
        </div>
    </form>
</section>

<% if (results) { %> 
    <% for( let i = 0; i < results.length; i++ ) { %>
        <section class="search-results">
            <div>
                <img 
                    src="<%= results[i].volumeInfo.imageLinks ? results[i].volumeInfo.imageLinks.thumbnail : null %>"
                    alt="<%= results[i].volumeInfo.title %>"
                    width="110" height="auto" /><br>
            </div>
            <div>
                <span>Title:</span> <%= results[i].volumeInfo.title %><br> 
                <span>Author(s):</span> <%= results[i].volumeInfo.authors %><br> 
                <span>Publisher:</span> <%= results[i].volumeInfo.publisher %><br> 
                <span>Date Published:</span> <%= results[i].volumeInfo.publishedDate %><br>
                <span>Description:</span> 
                    <%= typeof(results[i].volumeInfo.description) === 'string' ? results[i].volumeInfo.description.substring(0, 225) : null %> 
            </div>
        </section>
                <form action="/books/new" method="GET">
                    <input type="hidden" name="googleId" value="<%= results[i].id %>" />
                    <input type="hidden" name="title" value="<%= results[i].volumeInfo.title %>" />
                    <input type="hidden" name="author" value="<%= results[i].volumeInfo.authors %>" />
                    <input type="hidden" name="imageLinks" value="<%= results[i].volumeInfo.imageLinks ? results[i].volumeInfo.imageLinks.thumbnail : null %>" />
                    <input class="button" id="add-to-shelf" type="submit" value="Add to My Shelf" />
                </form>
    <% } %>
<% } %> 

<%- include('../partials/footer') %> 