<%- include('../partials/header') %>

<h1>Welcome to KanShu, <%= user.name %>!</h1>

<form method="GET" action="/books">
    <label>Find a book by title</label><br>
    <input type="text" name="q" />
    <input class="button" id="search-button" type="submit" value="Search Books" />
</form>

<% if (results) { %> 
    <% for( let i = 0; i < results.length; i++ ) { %>
        <section>
            <div>
                <img 
                    src="<%= results[i].volumeInfo.imageLinks ? results[i].volumeInfo.imageLinks.thumbnail : null %>"
                    alt="<%= results[i].volumeInfo.title %>"
                    width="110" height="auto" /><br>
                <span>Average Rating:</span> <%= results[i].volumeInfo.averageRating %><br>
                <span>Total Ratings:</span> <%= results[i].volumeInfo.ratingsCount %><br>
            </div>
            <div>
                <span>Title:</span> <%= results[i].volumeInfo.title %><br> 
                <span>Author(s):</span> <%= results[i].volumeInfo.authors %><br> 
                <span>Publisher:</span> <%= results[i].volumeInfo.publisher %><br> 
                <span>Date Published:</span> <%= results[i].volumeInfo.publishedDate %><br>
                <span>Description:</span> 
                    <%= typeof(results[i].volumeInfo.description) === 'string' ? results[i].volumeInfo.description.substring(0, 225) : null %> 
            </div>
        </section>
        <form action="/books/new" method="GET">
            <input type="hidden" name="googleId" value="<%= results[i].id %>" />
            <input type="hidden" name="title" value="<%= results[i].volumeInfo.title %>" />
            <input type="hidden" name="author" value="<%= results[i].volumeInfo.authors %>" />
            <input type="hidden" name="imageLinks" value="<%= results[i].volumeInfo.imageLinks ? results[i].volumeInfo.imageLinks.thumbnail : null %>" />
            <input class="button" id="add-to-shelf" type="submit" value="Add to My Shelf" />
        </form>
    <% } %>
<% } %> 

<%- include('../partials/footer') %> 