<%- include('../partials/header') %>
    <h1>Add This Book</h1>
    <div>
        <img 
            src="<%= book.imageLinks ? book.imageLinks : null %>"
            alt="<%= book.title %>"
            width="110" height="auto" /><br>
        <span>Title:</span> <%= book.title %><br> 
        <span>Author(s):</span> <%= book.author %><br> 
    </div>
    <form method="POST" action="/books">   
        <input type="hidden" name="googleId" value="<%= book.googleId %>" />
        <input type="hidden" name="title" value="<%= book.title %>" />
        <input type="hidden" name="author" value="<%= book.author %>" />
        <input type="hidden" name="imageLinks" value="<%= book.imageLinks %>" />
        <label>Recommended by:</label>
        <input type="text" name="recommend" /><br>
        <input class="button" type="submit" value="Add Book" />
    </form>

    <%- include('../partials/footer') %> 