<%- include('../partials/header') %>
    <h1>Add Book</h1>
    <form>            
        <div>
            <img 
            src="<%= book.imageLinks ? book.imageLinks.thumbnail : null %>"
            alt="<%= book.title %>"
            width="110" height="auto" /><br>
        <span>Average Rating:</span> <%= book.averageRating %><br>
        <span>Total Ratings:</span> <%= book.ratingsCount %><br>
    </div>
    <div>
        <span>Title:</span> <%= book.title %><br> 
        <span>Author(s):</span> <%= book.authors %><br> 
        <span>Publisher:</span> <%= book.publisher %><br> 
        <span>Date Published:</span> <%= book.publishedDate %><br>
        <span>Description:</span> 
            <%= typeof(book.description) === 'string' ? book.description : null %>
    </div>
        <input type="hidden" name="title" value="<%= book.title %>" />
        <input type="hidden" name="author" value="<%= book.authors %>" />
        <input type="hidden" name="isbn" value="<%= book.industryIdentifiers[1].identifier %>" />
        <input type="hidden" name="imageLinks" />
        <label>Recommended by:</label>
        <input type="text" name="recommend" />
        <input class="button" type="submit" />
    </form>
