<%- include('../partials/header') %>
    <script defer src="/javascript/reviews.js"></script>
    <section>
        <img src="<%= book.imageLinks %>"
            width="100px" height="auto" alt="<%= book.title %>">
        <div class="book-details">
            <h2><%= book.title %></h2>
            <span>Author(s): </span><%= book.author %><br><br>
            <span>Recommended by: </span><%= book.recommend %>
        <!--update book-->
            <a class="button" href="/books/<%= book._id %>/edit">Edit Book</a>
        </div>
    </section>
    <h2>Reviews</h2>
        <!--show reviews-->
        <% if (book.reviews.length) { %>
            <% book.reviews.forEach(r => { %>
            <div class="review">
                <div class="menu-review">
                    <img alt="avatar" src="<%= r.userAvatar %>"><%= r.userName %>
                    <% if (user && user._id.equals(r.user)) { %> 
                            <form method="GET" action="/reviews/<%= r._id %>/edit">
                                <input class="menu-review" id="edits-review" type="submit" value="Edit" />
                            </form>
                                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                                    <input class="menu-review" type="submit" value="Delete" />
                                </form>
                        <% } %>
                </div>
                <%= r.rating %>
                <p id="review-date">Reviewed on <%= r.createdAt.toLocaleDateString() %></p>
                <span><%= r.content %></span>
            </div>
            <% }); %>
        <% } else { %>
            <p>No Reviews</p>
        <% } %> 
        <br>
        <!--add a review-->
        <div>
            <form method="POST" action="/books/<%= book._id %>/reviews">
                <label>Rating:</label>
                <select name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select><br>
                <textarea name="content"></textarea><br>
                <input class="button" type="submit" value="Add Review">
            </form>
        </div>
    <h2>My Notes</h2>
    <div class="bottom-buttons">
    <!--go back to all books-->
    <a class="button" href="/books/all">Back</a>
    <!--delete book-->
    <form method="POST" action="/books/<%= book._id %>?_method=DELETE">
        <input class="button" id="delete-book" type="submit" value="Remove Book" />
    </form>
    </div>
<%- include('../partials/footer') %> 