<%- include('../partials/header') %>
    <script defer src="/javascript/reviews.js"></script>
    <section>
        <img src="<%= book.imageLinks %>"
            width="100px" height="auto" alt="<%= book.title %>">
        <div class="book-details">
            <h2><%= book.title %></h2>
            <span>Author(s): </span><%= book.author %><br><br>
            <span>Recommended by: </span><%= book.recommend %>
        <!--update book-->
            <a class="button" href="/books/<%= book._id %>/edit">Edit Book</a>
        </div>
    </section>
    <h2>Reviews</h2>
        <!--show reviews-->
        <% if (book.reviews.length) { %>
            <table>
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Date</th>
                        <th>Review</th>
                        <th>Rating</th>
                        <th>Delete</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <% let total = 0; %> 
                    <% book.reviews.forEach(r => { %>
                        <% total += r.rating %> 
                        <tr>
                            <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>"><%= r.userName %></td> 
                            <td><%= r.createdAt.toLocaleDateString() %></td>
                            <td><%= r.content %></td>
                            <td><%= r.rating %></td>
                            <td>
                                <% if (user && user._id.equals(r.user)) { %> 
                                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                                    <button type="submit">X</button>
                                </form>
                                <% } %>
                            </td>
                            <td>
                                <!--<form method="GET" action="/reviews/<%= r._id %>/edit">
                                    <button id="edits-review" class="button" type="submit">Edit</button>
                                </form>-->
                                <button id="edits-review" class="button" type="submit">Edit</button>
                            </td>
                        </tr>
                        <!--edit a review-->
                        <tr class="edit-review-form">
                            <form method="POST" action="/reviews/<%= r._id %>?_method=PUT">
                                <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>"><%= r.userName %></td>
                                <td><%= r.createdAt.toLocaleDateString() %></td>
                                <td><textarea name="content"><%= r.content %></textarea></td>
                                <td><select name="rating">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select></td>
                                <td></td>
                                <td><input class="button" type="submit" value="Edit Review" /></td>
                            </form>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } else { %>
            <p>No Reviews</p>
        <% } %> 
        <!--add a review-->
        <form method="POST" action="/books/<%= book._id %>/reviews">
            <label>Review:</label>
            <textarea name="content"></textarea><br>
            <label>Rating:</label>
            <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>
            <input class="button" type="submit" value="Add Review">
        </form>
    <h2>My Notes</h2>
    <div class="bottom-buttons">
    <!--go back to all books-->
    <a class="button" href="/books/all">Back</a>
    <!--delete book-->
    <form method="POST" action="/books/<%= book._id %>?_method=DELETE">
        <input class="button" id="delete-book" type="submit" value="Remove Book" />
    </form>
    </div>
<%- include('../partials/footer') %> 