<%- include('../partials/header') %>
    <script defer src="/javascript/reviews.js"></script>
    <section>
        <img src="<%= book.imageLinks %>"
            width="100px" height="auto" alt="<%= book.title %>">
        <div class="book-details">
            <h2><%= book.title %></h2>
            <span>Author(s): </span><%= book.author %><br><br>
            <span>Recommended by: </span><%= book.recommend %>
            <!--update book-->
            <a class="button" id="edit-book" href="/books/<%= book._id %>/edit">Edit Book</a>
        </div>
    </section>
    <h2>Reviews</h2>
    <section class="review">
        <!--show reviews-->
        <% if (book.reviews.length) { %>
            <% book.reviews.forEach(r => { %>
            <div class="menu-review">
                <p><%= r.userName %></p>
                    <% if (user && user._id.equals(r.user)) { %> 
                        <button class="edits-review">Edit</button>
                        <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                            <button class="crud-button" type="submit">Delete</button>
                        </form>
                    <% } %>
            </div>
            <div class="review-date">
                <p >Reviewed on <%= r.createdAt.toLocaleDateString() %></p>
            </div>
            <div class="parent-review">
                <div class="posted-review">    
                    <%= r.rating %><br>
                    <p><span><%= r.content %></span></p>
                </div>
                <div class="edit-review-form">
                    <!--edit a review-->
                    <form method="POST" action="/reviews/<%= r._id %>?_method=PUT">                        
                        <select name="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select><br>
                        <textarea name="content"><%= r.content %></textarea><br>
                        <input class="button" type="submit" value="Edit Review" />
                    </form>
                </div>
            </div>
            <% }); %>
        <% } else { %>
            <p>No Reviews</p>
        <% } %> 
        <br>
        </section>
        <!--add a review-->
        <button class="crud-button" id="adds-review">Add a Review</button>
        <div class="add-review-form">
            <form method="POST" action="/books/<%= book._id %>/reviews">
                <label>Rating:</label>
                <select name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select><br>
                <textarea name="content"></textarea><br>
                <input class="button" type="submit" value="Add Review">
            </form>
        </div>
    <h2>My Notes</h2>
    <section class="notes">
    <!--show all notes associated with user ID and book ID-->
        <% notes.forEach(n => { %>
        <div class="parent-note">
            <div class="posted-note">
                <%= n.text %><br>
            </div>
            <div class="edit-a-note">
            <!--edit a note-->
                <form class="edit-note-form" method="POST" action="/notes/<%= n._id %>?_method=PUT">                        
                    <textarea name="text"><%= n.text %></textarea><br>
                    <input class="button" type="submit" value="Edit Note" />
                </form>
            </div>
        </div>
        <div class="menu-note">
            <!--delete a note-->
            <form action="/notes/<%= n._id %>?_method=DELETE" method="POST">
                <button class="crud-button" type="submit">Delete</button>
            </form>
            <!--edit note button-->
            <button class="crud-button" id="edits-note">Edit</button>
        </div>
        <% }) %>
    </section>
    <!--add a note-->
    <div class="add-note-form">
        <form method="POST" action="/books/<%= book._id %>/notes">
            <input type="hidden" name="book" value="<%= book._id %>" />
            <input type="hidden" name="bookTitle" value="<%= book.title %>" />
            <textarea name="text"></textarea><br>
            <input class="button" type="submit" value="Add Note">
        </form>
    </div>
    <div class="bottom-buttons">
    <!--go back to all books-->
    <a class="button" href="/books/all">My Shelf</a>
    <!--delete book-->
    <form method="POST" action="/books/<%= book._id %>?_method=DELETE">
        <input class="button" id="delete-book" type="submit" value="Remove Book" />
    </form>
    </div>
<%- include('../partials/footer') %> 