<%- include('../partials/header') %>
    <h1><%= book.title %></h1>
    <section>
            <img src="<%= book.imageLinks %>"
                width="100px" height="auto" alt="<%= book.title %>"><br>
            <span>Title: </span><%= book.title %><br>
            <span>Author(s): </span><%= book.author %><br>
            <span>Recommended by: </span><%= book.recommend %>
        <!--update book-->
            <a class="button" href="/books/<%= book._id %>/edit">Edit Book</a>
    </section>
    <h2>Reviews</h2>
        <!--show reviews-->
        <% if (book.reviews.length) { %>
            <table>
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Date</th>
                        <th>Review</th>
                        <th>Rating</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% let total = 0; %> 
                    <% book.reviews.forEach(r => { %>
                        <% total += r.rating %> 
                        <tr>
                            <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>"><%= r.userName %></td> 
                            <td><%= r.createdAt.toLocaleDateString() %></td>
                            <td><%= r.content %></td>
                            <td><%= r.rating %></td>
                            <td>
                                <% if (user && user._id.equals(r.user)) { %> 
                                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                                    <button type="submit">X</button>
                                </form>
                                <% } %>
                            </td>
                        </tr>
                        <tr>

                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } else { %>
            <p>No Reviews</p>
        <% } %> 
        <!--add a review-->
        <form method="POST" action="/books/<%= book._id %>/reviews">
            <label>Review:</label>
            <textarea name="content"></textarea><br>
            <label>Rating:</label>
            <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>
            <input class="button" type="submit" value="Add Review">
        </form>
    <h2>My Notes</h2>
    <!--go back to all books-->
    <a class="button" href="/books/all">Back</a>
    <!--delete book-->
    <form method="POST" action="/books/<%= book._id %>?_method=DELETE">
        <input class="button" type="submit" value="Remove Book" />
    </form>
<%- include('../partials/footer') %> 