<%- include('../partials/header') %>

<h1>Welcome, <%= user.name %></h1>

<h3>All My Notes</h3>
<% notes.forEach(n => { %>
    In <%= n.bookTitle %>: <br>
    <%= n.text %> 
    <a class="crud-button" href="/books/<%= n.book %>">See More</a><br>
<% }); %> 

<h3>All My Reviews</h3>
<% if (books) { %>
    <% books.forEach(b => { %>
        <% b.reviews.forEach(r => { %>
            Review for <%= b.title %>: <br> 
            <%= r.content %>
            <a class="crud-button" href="/books/<%= b._id %>">See More</a><br>
        <% }) %>
    <% }) %>
<% } else { %>
    <h3>No Reviews Yet</h3>
<% } %> 


<!--delete user-->
<form method="POST" action="/users/<%= user._id %>?_method=DELETE">
    <input class="button" id="delete-user" type="submit" value="Delete My Account" />
</form>

<%- include('../partials/footer') %> 